.users-container {
  width: 70%;
  max-width: 1240px;
  margin: 0 auto;
}

.users-table {
  overflow-x: auto;
}

td{
  white-space: nowrap;
  cursor: pointer;
}

@media (max-width: 770px) {
  .users-container {
    width: 90%;
  }
}
